
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Page d'Approvisionement</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Ajout de appro</button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel" >Ajout d'Appro</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form (ngSubmit)="onAddAppro(approForm)" #approForm="ngForm" method="post">
                    <div class="mb-3">
                      <label for="dateAppro" class="col-form-label">DateAppro</label>
                      <input type="date" class="form-control" id="dateAppro" placeholder="DateAppro" ngModel #dateAppro="ngModel" required>
                    </div>
                    <div class="mb-3">
                      <label for="QteAppro" class="col-form-label" >QteAppro</label>
                      <input type="number" class="form-control" id="QteAppro" placeholder="QteAppro" ngModel #qteAppro="ngModel" required>
                    </div>
                    <div class="mb-3">
                      <label for="ArticleId" class="col-form-label">ArticleId</label>
                      <input type="number" class="form-control" id="ArticleId" ngModel #ArticleId="ngModel" required>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>
            </div>
          </div>          
        </ul>
      </div>
    </div>
  </nav>
  <div class="form-group">
    <input id="search" class="form-control" type="text" placeholder="search">
  </div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">DateAppro</th>
        <th scope="col">QteAppro</th>
        <th scope="col">ArticleId</th>
        <th scope="col">Actions</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appros of listAppro">
        <td scope="row"> {{appros.id}} </td>
        <td scope="row">{{appros.dateAppro | date}} </td>
        <td scope="row">{{appros.qteAppro}}</td>
        <td scope="row">{{appros.ArticleId}}</td>
        <button class="delete-button" (click)="onDeleteAppro(appros.id)" ><i class="fas fa-trash-alt"></i></button>
        <button class="update-button" ><i class="fas fa-pencil-alt"></i></button>
      </tr>
    </tbody>
  </table>


